title {
    font-size: 2em;
    margin: 0.67em 0;
}

li {
    color: aquamarine;
    list-style: none
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}