* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282D35;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  height: 90x;
  background-color: #21222A;
  padding: 25px;

}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav>img {
  width: 40px;
  height: auto;
  margin-right: 7px;
}

nav>span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #61dafb;
  font-weight: 700;
}


main {
  padding: 60px 30px;
  background-image: url('/react-bg-logo.png');
  background-repeat: no-repeat;
  background-position: right 75%;
}



main >h1{
  margin: 0;
  max-width: 400px;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list>li {
  padding-block: 10px;
  line-height: 19px;
}
li {
  list-style: none;
}

.facts-list > li::before {
  content:"●";
  color:#61dafb;
  margin-right: 10px;
  font-size: 1.5rem;
}
